.hero::before {
  position: absolute;
  content: "";
  background-image: url("https://wallpaperaccess.com/full/2049166.png");
  width: 100%;
  min-height: 100vh;
  opacity: 0.1;
  z-index: -10;
}

.hero__section {
  width: 75%;
  margin: auto;
  padding-top: 12.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.hero__image img {
  width: 100%;
  box-shadow: -8px 11px 26px -4px rgba(0, 0, 0, 0.38);
  border-radius: 10px;
}

.hero__details .background__text {
  font-size: 6.5rem;
  font-weight: 800;
  color: rgb(243, 243, 243);
}

.hero__details .background__text .frontend {
  position: relative;
  bottom: 7rem;
  animation: transitionIn 2s;
}

.hero__details .background__text .developer {
  position: relative;
  top: 12rem;
  animation: transitionIn 2s;
}

.hero__details .self {
  position: relative;
  bottom: 15rem;
}

.self .salutation {
  font-size: 1.8rem;
  color: #172b4d;
  font-weight: 500;
}

.self h1 {
  font-size: 4rem;
  background: linear-gradient(to right, #172b4d, rgb(3, 251, 255));
  background-clip: text;
  color: transparent;
}

.self .self__description {
  text-align: justify;
  width: 85%;
  line-height: 1.8rem;
  font-size: 1.2rem;
  color: #172b4d;
}

.scroll {
  margin-top: 1.5rem;
  color: tomato;
  font-weight: 500;
  animation: scroll__animation 1.5s infinite;
}

@keyframes scroll__animation {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes transitionIn {
  from {
    color: rgb(0, 0, 0);

    opacity: 0;

    transform: translateX(-500px);
  }
  to {
    color: rgb(234, 234, 234);
    opacity: 1;

    transform: translateX(0);
  }
}

@media (max-width: 1150px) {
  .hero__section {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    transition: all 0.2s ease-in-out;
  }
  .hero__details {
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
  }
  .hero__details .background__text .frontend {
    bottom: 3rem;
    animation: transitionIn 2s;
    transition: all 0.2s ease-in-out;
  }

  .hero__details .background__text .developer {
    top: 13rem;
    animation: transitionIn 2s;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 815px) {
  .hero__section {
    width: 85%;
  }
  .hero__details {
    width: 100%;
    margin-top: 2rem;
  }
  .self .self__description {
    width: 100%;
  }
  .hero__details .background__text {
    font-size: 7rem;
  }
  .hero__details .background__text .frontend {
    bottom: 5rem;
  }
  .hero__details .background__text .developer {
    top: 12rem;
  }
}

@media (max-width: 580px) {
  .self h1 {
    font-size: 3.5rem;
    transition: all 0.2s ease-in-out;
  }
  .self {
    margin-top: 2rem;
  }
  .self .self__description {
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
  }
  .hero__details .background__text {
    font-size: 6rem;
    transition: all 0.2s ease-in-out;
  }
  .scroll {
    margin-top: 0.5rem;
  }
}

@media (max-width: 510px) {
  .self h1 {
    font-size: 3rem;
    transition: all 0.2s ease-in-out;
  }
  .hero__details .background__text {
    font-size: 5rem;
    transition: all 0.2s ease-in-out;
  }
  .self {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .scroll {
    margin-top: 1.5rem;
  }
}

@media (max-width: 460px) {
  .hero__details .self {
    padding-top: 2rem;
  }
  .self h1 {
    font-size: 2.5rem;
    transition: all 0.2s ease-in-out;
  }
  .hero__details .background__text .developer {
    top: 18rem;
  }
  .hero__details .background__text {
    font-size: 4.5rem;
  }
  /* .hero__details .background__text .frontend {
    bottom: 5rem;
  } */
  /* .hero__details .background__text .developer {
    top: 14rem;
  } */
}
