.skill::before {
  position: absolute;
  content: "";
  background-image: url("https://wallpaperaccess.com/full/2049166.png");
  width: 100%;
  height: 100vh;
  opacity: 0.1;
  z-index: -100;
}

.skill {
  /* background-color: #eff4ff; */
  /* padding: 5.5rem 0; */
  /* margin-top: 11rem; */
  height: 100vh;
}

.skill__title {
  margin-left: 12rem;
  font-size: 3.5rem;
  padding: 5rem 0 2rem 0;
  font-weight: 700;
  color: #172b4d;
}

.skill__section {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.skill__section img {
  width: 100%;
  height: 90%;
  box-shadow: 6px 10px 30px -13px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.skill__section {
  margin-top: 1rem;
}

.skill__grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.skill__logo img {
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: none;
  border: 1px solid #172b4d;
}

.skill__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill__logo p {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.nav__btn {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  gap: 2rem;
}

.go__to__links {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  background: #172b4d;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: #eff4ff;
}

.go__to__links:hover {
  background-color: #203a65;
}

@media (max-width: 1250px) {
  .skill__section {
    width: 85%;
  }
}

@media (max-width: 1050px) {
  .skills,
  .skill__section {
    display: flex;
    flex-direction: column;
  }

  .skill__title {
    margin: -3rem 0 -1rem 0;
    text-align: center;
  }
  .skill__grid {
    row-gap: 1.5rem;
  }
}

@media (max-width: 430px) {
  .skill__logo img {
    width: 5rem;
    height: 5rem;
  }
  .nav__btn {
    gap: 1rem;
  }
  .go__to__links {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
}
