@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0.5rem 5rem;
  background-color: #eff4ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Comforter Brush", cursive;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.logo__link {
  text-decoration: none;
}

.header__name {
  font-size: 2.5rem;
  color: rgb(242, 251, 255);
  color: #172b4d;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 0.5px solid #172b4d;
  animation: logoRotate 2s infinite;
}

.nav__links {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menu__btn {
  font-size: 1.2rem;
  display: none;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #172b4d;
  font-size: 1.1rem;
  text-decoration: none;
  transition: font-weight 0.2s ease;
}

.links:hover {
  font-weight: 700;
}

@keyframes logoRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 815px) {
  .nav__links {
    display: none;
  }
  .menu__btn {
    display: block;
  }
}
